<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	</head>
	<body>
		<div class="wrapper">
			<header class="header">
				<div class="first-header-menu-container">
					<nav class="first-header-menu">
						<div class="first-header-menu__first-row">
							<img src="/images/home.svg" class="first-header-menu__first-image">
							<img src="/images/Vector.svg" class="first-header-menu__second-image">
							<span class="first-header-menu__number">38(044)–573–96–30</span>
						</div>
						<div class="first-header-menu__second-row">
							<a class="first-header-menu__link first-header-menu__link_margin" href="#">
								для батьків
								<img class="arrow" src="/images/arrow.svg">
							</a>
							<a class="first-header-menu__link first-header-menu__link_margin" href="#">
								для учнів
								<img class="arrow" src="/images/arrow.svg">
							</a>						
							<a class="first-header-menu__link first-header-menu__link_margin" href="#">
								про гімназію
								<img class="arrow" src="/images/arrow.svg">
							</a>
						</div>
						<div class="first-header-menu__third-row">
							<a class="first-header-menu__link first-header-menu__link_gold"
							href="#">Вступна кампанія 2021</a>
							<a class="first-header-menu__link first-header-menu__link_gold-and-margin "
							href="#">Вхід</a>
						</div>
					</nav>
				</div>
				<div class="header__blue-line"></div>
				<h1 class="main-title"><b>Слов'янська гімназія</b></h1>
				<div class="header-main">
					<div class="second-header-menu-container">
						<nav class="second-header-menu">
							<a class="second-header-menu__link" href="#">
								Навчальна діяльність
								<img class="arrow" src="/images/arrow_black.svg">
							</a>
							<a class="second-header-menu__link" href="#">
								Проектна діяльність
								<img class="arrow" src="/images/arrow_black.svg">
							</a>
							<a class="second-header-menu__link" href="#">
								Паш юнеско
								<img class="arrow" src="/images/arrow_black.svg">
							</a>
							<a class="second-header-menu__link" href="#">Галерея</a>
							<a class="second-header-menu__link second-header-menu__link_margin" href="#">Фотогалерея</a>
			        	</nav>
			        </div>
			        <img class="header-main__background-image" src="/images/header-background.png">
			        <h2 class="header-main__title"><b>Знання-без меж навчнання-без обмежень</b></h2>
					<button class="header-main__button">Розклад уроків</button>
				</div>
			</header>
			<div class="advertisement-and-last-news-container">
				<div class="advertisement">
					<h3 class="title advertisement__title">Оголошення</h3>
					<div class="advertisement__text">
						<h5><b>Covid 19:</b></h5>
						<span>Освітній процес у період карантинних обмежень</span>
						<div class="advertisement__line advertisement__first-line"></div>
						<p class="advertisement__paragraph">
							<span>Послуга «Замовлення електронного учнівського</span> 
							<span>квитка» доступна за посиланням:</span>
							<a class="advertisement__first-link" href="#">ВЕБ-ПОРТАЛ НАДАННЯ ЕЛЕКТРОННИХ ПОСЛУГ</a>
						</p>
						<div class="advertisement__line advertisement__second-line"></div>
						<a class="advertisement__second-link"><b>Онлайн зно</b></a>
					</div>
				</div>
				<div class="last-news">
					<h3 class="title"><b>Останні новини</b></h3>
					<span class="last-news__date"></span>
					<div class="last-news__line"></div>
					<p class="last-news__first-paragraph"></p>
					<p class="last-news__second-paragraph"></p>
					<img src="">
					<div class="last-news__background">
						<article class="article">
							<img src="">
							<h4 class="article__title"><b></b></h4>
							<p class="article__paragraph"></p>
							<a class="article__link"> <img src=""></a>
						</article>
						<a class="last-news__link"> <img src=""></a>
					</div>
				</div>
			</div>
			<div class="public-info">
				<h3 class="title"></h3>
				<p class="public-info__paragraph"></p>
				<form>
					<button class="button_blue"></button>
				</form>
				<span class="public-info__text public-info__text_interactive"></span>
				<div class="blue-background"></div>
				<div class="gray-background">
					<img src="">
					<h4 class="public-info__title"></h4>
					<a href=""></a><img src="">
					<a href=""></a><img src="">
					<a href=""></a><img src="">
					<a href=""></a><img src="">
					<a href=""></a><img src="">
					<h4 class="public-info__title"></h4>
				</div>
				<div class="blue-background">
					<a><img src="" class="image_shiny-interactive"></a>
					<a><img src="" class="image_shiny-interactive"></a>
					<a><img src="" class="image_shiny-interactive"></a>
					<a><img src="" class="image_shiny-interactive"></a>
				</div>
			</div>
			<div class="useful__links">
				<h3 class="title"></h3>
				<ol>
					<li>
						<b><a class="link"></a></b><span></span>
					</li>
					<li>
						<b><a class="link"></a></b><span></span>
					</li>
					<li>
						<b><a class="link"></a></b><span></span>
					</li>
					<li>
						<b><a class="link"></a></b><span></span>
					</li>
					<li>
						<b><a class="link"></a></b><span></span>
					</li>
					<li>
						<b><a class="link"></a></b><span></span>
					</li>
					<li>
						<b><a class="link"></a></b><span></span>
					</li>
					<li>
						<b><a class="link"></a></b><span></span>
					</li>
					<li>
						<b><a class="link"></a></b><span></span>
					</li>
					<li>
						<b><a class="link"></a></b><span></span>
					</li>
				</ol>
				<img src="">
				<img src="">
				<img src="">
				<img src="">
			</div>
			<div class="contacts">
				<h3 class="title"></h3>
				<img src="">
				<div class="gray-background">
					<div>
						<b></b>
					</div>
					<div>
						<b></b>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="column">
					<div></div>
					<div></div>
					<span></span>
					<a href=""> <img src=""></a>
					<div></div>
					<form>
						<button class="button"></button>
					</form>
				</div>
				<div class="column">
					<nav class="column-menu">
						<a class=""></a>
						<a class="link"></a>
						<a class="link"></a>
						<a class="link"></a>
						<a class="link"></a>						
						<a class="link"></a>
						<a class="link"></a>
						<a class="link"></a>
					</nav>
					<span></span>
					<form>
						<button class="button_without-bc"></button>
					</form>
				</div>
				<img src="">
				<span></span>
			</footer>
		</div>
	</body>
</html>