<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Слов'янська гімназія</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="icon" href="/images/logo.png" type="image/icon type">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	</head>
	<body>
		<div class="wrapper">
			<header class="header">
				<div class="first-header-menu-container">
					<nav class="first-header-menu">
						<div class="first-header-menu__first-row">
							<img src="/images/home.svg" class="first-header-menu__first-image">
							<img src="/images/Vector.svg" class="first-header-menu__second-image">
							<span class="first-header-menu__number">38(044)–573–96–30</span>
						</div>
						<div class="first-header-menu__second-row">
							<a class="first-header-menu__link first-header-menu__link_margin" href="#"
							   th:text="${for_parents}">для батьків
								<img class="arrow" src="/images/arrow.svg">
							</a>
							<a class="first-header-menu__link first-header-menu__link_margin" href="#"
								th:text="${for_students}">для учнів
								<img class="arrow" src="/images/arrow.svg">
							</a>						
							<a class="first-header-menu__link first-header-menu__link_margin" href="#"
							   th:text="${about}">про гімназію
								<img class="arrow" src="/images/arrow.svg">
							</a>
						</div>

						<div class="first-header-menu__third-row">
							<a class="first-header-menu__link first-header-menu__link_gold"
							href="#" th:text="${entry_campaign}">Вступна кампанія 2021</a>
							<a class="first-header-menu__link first-header-menu__link_gold-and-margin "
							th:href="${login_logout_reference}" th:text="${login_logout}">Вхід</a>
							<form action="/change-language" method="get">
								<input type="submit" name="ukr" value="ukr">
								<input type="submit" name="eng" value="eng">
							</form>
						</div>


					</nav>
				</div>
				<div class="header__blue-line"></div>
				<h1 class="main-title" th:text="${slavonic_gymnasium}"><b>Слов'янська гімназія</b></h1>
				<div class="header-main">
					<div class="second-header-menu-container">
						<nav class="second-header-menu">
							<a class="second-header-menu__link" href="#" th:text="${educational_activity}">
								Навчальна діяльність
								<img class="arrow" src="/images/arrow_black.svg">
							</a>
							<a class="second-header-menu__link" href="#" th:text="${project_activity}">
								Проектна діяльність
								<img class="arrow" src="/images/arrow_black.svg">
							</a>
							<a class="second-header-menu__link" href="#" th:text="${unesco}">
								Паш юнеско
								<img class="arrow" src="/images/arrow_black.svg">
							</a>
							<a class="second-header-menu__link" href="#" th:text="${news}">Новини</a>
							<a class="second-header-menu__link second-header-menu__link_margin" href="#"
							   th:text="${photo_gallery}">Фотогалерея</a>
			        	</nav>
			        </div>
			        <img class="header-main__background-image" src="/images/header-background.png">
			        <h2 class="header-main__title" th:text="${quote_learning}"><b>Знання-без меж навчнання-без обмежень</b></h2>
					<button class="header-main__button" th:text="${timetable}">Розклад уроків</button>
				</div>
			</header>

			<!-- It doesn't exist-->
<!--			<div class="advertisement-and-last-news-container">-->
<!--				<div class="advertisement">-->
<!--					<h3 class="title advertisement__title">Оголошення</h3>-->
<!--					<div class="advertisement__text">-->
<!--						<h5><b>Covid 19:</b></h5>-->
<!--						<span>Освітній процес у період карантинних обмежень</span>-->
<!--						<div class="advertisement__line advertisement__first-line"></div>-->
<!--						<p class="advertisement__paragraph">-->
<!--							<span>Послуга «Замовлення електронного учнівського</span>-->
<!--							<span>квитка» доступна за посиланням:</span>-->
<!--							<a class="advertisement__first-link" href="#">ВЕБ-ПОРТАЛ НАДАННЯ ЕЛЕКТРОННИХ ПОСЛУГ</a>-->
<!--						</p>-->
<!--						<div class="advertisement__line advertisement__second-line"></div>-->
<!--						<a class="advertisement__second-link"><b>Онлайн зно</b></a>-->
<!--					</div>-->
<!--				</div>-->



				<div class="advertisement-and-schedule-and-last-news-container">
					<div class="advertisement">
						<h3 class="title advertisement__title">Оголошення</h3>
						<div class="advertisement__inner">
							<h5 th:text="${covid}"><b>Covid 19:</b></h5>
							<span th:text="${studying_during_quarantine}">Освітній процес у період карантинних обмежень</span>
							<div class="advertisement__line advertisement__first-line"></div>
							<p class="advertisement__paragraph">
								<span th:text="${get_student_id_first}">Послуга «Замовлення електронного учнівського</span>
								<span th:text="${get_student_id_second}">квитка» доступна за посиланням:</span>
								<a class="advertisement__first-link" href="#" th:text="${web_portal_reference}">ВЕБ-ПОРТАЛ НАДАННЯ ЕЛЕКТРОННИХ ПОСЛУГ</a>
							</p>
							<div class="advertisement__line advertisement__second-line"></div>
							<a class="advertisement__second-link" th:text="${online_zno}"><b>Онлайн зно</b></a>
						</div>
					</div>
					<aside class="aside">
						<nav class="aside-menu">
							<a th:text="${latest_news}">Останні новини</a>
							<a th:text="${public_information}">Публічна інформація</a>
							<a th:text="${useful_links}">Корисні посилання</a>
							<a th:text="${contacts}">контакти</a>
						</nav>
						<div class="schedule">
							<h4 class="schedule__title" th:text="${timetable}">Розклад уроків</h4>
							<div class="schedule__inner">
								<div class="schedule__column">
									<span th:text="${first_lesson}"><b>1-й</b></span>
									<span th:text="${second_lesson}"><b>2-й</b></span>
									<span th:text="${third_lesson}"><b>3-й</b></span>
									<span th:text="${fourth_lesson}"><b>4-й</b></span>
									<span th:text="${fifth_lesson}"><b>5-й</b></span>
									<span th:text="${sixth_lesson}"><b>6-й</b></span>
								</div>
								<div class="schedule__column">
									<h6 class="schedule__subtitle"><span th:text="${first_shift}"><b>I зміна</b></span></h6>
									<span><b>08:30–09:15</b></span>
									<span><b>09:20–10:05</b></span>
									<span><b>10:15–11:00</b></span>
									<span><b>10:15–11:00</b></span>
									<span><b>10:15–11:00</b></span>
									<span><b>10:15–11:00</b></span>
								</div>
								<div class="schedule__column">
									<h6><span  th:text="${second_shift}"><b>II зміна</b></span></h6>
									<span><b>08:30–09:15</b></span>
									<span><b>09:20–10:05</b></span>
									<span><b>10:15–11:00</b></span>
									<span><b>10:15–11:00</b></span>
									<span><b>10:15–11:00</b></span>
									<span><b>10:15–11:00</b></span>
								</div>
							</div>
						</div>
					</aside>
				</div>
				<div class="last-news">
					<div class="title" th:text="${latest_news}">Останні новини</div>
					<div class="last-news__container">
						<div class="last-news__inner">
							<div class="last-news__title">
								<span>Зустріч</span>
								<span>із представниками ДБР</span>
							</div>
							<span class="last-news__date">
								16:30 28/09/2021
							</span>
							<div class="last-news__line"></div>
							<p class="last-news__first-paragraph">
								У рамках популяризації роботи та створення позитивного іміджу Державного бюро розслідувань 14 вересня учні 8-11-х класів мали змогу поспілкуватися із представниками ДБР на відкритих уроках.
							</p>
							<p class="last-news__second-paragraph">
								Представники ДБР розповіли дітям про роботу ДБР як правоохоронного органу, а саме про основні обов’язки роботи слідчого, криміналіста, поліграфолога тощо. Учні також протестували на собі роботу поліграфу, відповідаючи на запитання співробітників. Зустріч минула у теплій і дружній атмосфері. Сподіваємося, щотакі уроки відбуватимуться частіше, а інтерес учнів пізнавати нове не вгасатиме!
							</p>
						</div>
						<img src="images/last-news-image.png">
					</div>
				</div>
				<div class="articles-container">
					<article class="article">
						<span class="article__number"></span>
						<h5 class="article__title"></h5>
						<p class="article__paragraph"></p>
						<a class="article__link" href=""><b></b></a>
					</article>
				</div>
				<div class="contacts">
					<h3 class="contacts-title title" th:text="${contacts}">Контакти</h3>
					<img class="contacts-map" src="images/map.png">
					<img class="contacts-background" src="images/contacts-background.jpg">
					<div>
						<b></b>
					</div>
					<div>
						<b></b>
					</div>
				</div>
			<footer class="footer">
				<div class="footer__first-column">
					<div class="footer__adress">
						<p th:text="${address_first}">02068, м.Київ,</p>
						<p th:text="${address_second}">вул.Драгоманова, 10в</p>
					</div>
					<div class="footer__numbers">
						<span>+380–44–573–96–30 — <span th:text="${phone_fax}">тел./факс:</span></span>
						<span>+380–44–570–88–24 — <span th:text="${entrance_commission}">приймальна коміссія</span></span>
						<span>+380–44–570–87–55 — <span th:text="${head_teacher}">завуч !!!!! наприклад</span></span>
					</div>
					<span class="footer__first-span" th:text="${information_document}">Проспект інформаційний</span>
					<a class="footer__link" href="" th:text="${download_pdf}">Завантажити pdf<img src=""></a>
					<div class="footer__second-span" th:text="${make_admission_request_message}">
						Запит на вступ у 1 клас 2021 р.
					</div>
					<button class="button footer__button" th:text="${make_request}">Зробити запит</button>
				</div>
				<nav class="footer-menu">
					<a th:text="${for_parents}">Для батьків</a>
					<a th:text="${for_students}">Для учнів</a>
					<a th:text="${about}">Про гімназію </a>
					<a th:text="${educational_activity}">Навчальна діяльність </a>
					<a th:text="${project_activity}">Проектна діяльність</a>
					<a th:text="${unesco}">Паш юнеско</a>
					<a th:text="${news}">Новини</a>
					<a th:text="${photo_gallery}">Фотогалерея</a>
					<span class="footer__third-span">e-mail: 5739630@ukr.net</span>
					<button class="button button_without-bc" th:text="${contact_us}">Напишіть нам</button>
				</nav>
				<span class="footer__fourth-span">
					© 2009 - 2021 <span th:text="${slavonic_gymnasium}"></span>
				</span>
			</footer>

		</div>
		</div>
	</body>
</html>