<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вхід</title> <!-- put localisation -->
    <link rel="stylesheet" type="text/css" href="/css/logIn.css">
    <link rel="icon" href="/images/logo.png" type="image/icon type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
<header>
    <a href="/"><h2>СЛОВ'ЯНСЬКА ГІМНАЗІЯ</h2></a>
</header>
<div class="main-content">
    <img alt="girl" src="/images/girl.png">
    <div class="form-and-references">
        <h1>ОСОБИСТИЙ КАБІНЕТ</h1>
        <form action="/login" method="post">
            <label>e-mail
                <input class="input__field" name="username" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                       oninvalid="this.setCustomValidity('Email')"
                       oninput="setCustomValidity('')"
                       type="text" required>
            </label>
            <!-- oninvalid="this.setCustomValidity('Email')"  This is the best way to put my custom message-->
            <br>
            <label>Пароль
                <input class="input__field input__field-2" name="password" pattern="[A-Za-z0-9]{3,30}$"
                       oninvalid="this.setCustomValidity('Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters')"
                       oninput="setCustomValidity('')"
                       type="password" required>
            </label>
            <!--    "Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"-->
            <br>
            <input class="input__button" type="submit" value="ВХІД">
            <a href="/password-recovery">Забули пароль</a>
            <a href="/register">Зареєструватися</a>
        </form>
        <p th:text="${passwordRecoveryResult}">password recovery result</p>
    </div>

</div>

</body>
</html>