<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>
<table>
    <tr>
        <th>Title</th>
        <th>Intro</th>
        <th>Text</th>
    </tr>
    <tr th:each="news : ${current_page}">
        <td th:text="${news.getTitleUkr()}"></td>
        <td th:text="${news.getIntroductionUkr()}"></td>
        <td th:text="${news.getTextUkr()}"></td>
    </tr>
</table>

<form action="/news/change-page" method="get">
    <div th:each="i: ${#numbers.sequence(1, pages_number)}">
        <input type="submit" name="number" th:value="${i}">
    </div>

</form>
</body>
</html>