<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
    <link rel="stylesheet" type="text/css" href="/css/registrationResult.css">
    <link rel="icon" href="/images/logo.png" type="image/icon type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
<header>
    <a href="/"><h2>СЛОВ'ЯНСЬКА ГІМНАЗІЯ</h2></a>
</header>
<div class="main-content">
    <img alt="girl" src="/images/girl.png">
    <div class="form-and-references">
        <h1>ЛАСКАВО ПРОСИМО!</h1>
        <p>На вашу поштову скриньку<br>
            надіслано листа<br>
            с посиланням для активації</p>
    </div>
</div>
</body>
</html>