@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
/* Шрифт - KyivType Titling     Вид - Bold3     У мене показує що не підключено, але підключено)))*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

b {
    font-weight: normal;
}

/*--------------------*/
/*Миксины*/
/*--------------------*/
/*Шаблоны*/
.title {
    font-size: 2.9em;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: #224d7b;
    font-family: KyivType Titling, serif;
}

.rules-of-application-and-right-menu, .useful-posts__and__image, .second-header-menu, .first-header-menu__first-row, .first-header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/*--------------------*/
body {
    background: #e4e4e4;
}

.wrapper {
    width: 100%;
    max-width: 1438px;
    margin: 0 auto;
    background-color: #fff;
}

.header {
    width: 100%;
}

.first-header-menu-container {
    width: 100%;
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #292F3D;
    padding-top: 26px;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
}

.first-header-menu {
    width: 1262px;
    margin: 0 auto;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 1px;
}

.first-header-menu__first-row {
    width: 200px;
    letter-spacing: 1px;
}

.first-header-menu__link_gold {
    color: #fce90a;
}

.first-header-menu__first-image {
    width: 18px;
    height: 18px;
    margin-right: 20px;
}

.first-header-menu__second-image {
    width: 18px;
    height: 18px;
}

.first-header-menu__link {
    color: #fff;
}

.for-students__link {
    color: #FCE700;
    font-weight: bold;
}

.first-header-menu__link_margin {
    margin-right: 10px;
}

.language-switcher {
    margin-left: 20px;
}

.flag__switcher__top {
    width: 13px;
}

.content__switcher {
    display: none;
    position: absolute;
    background-color: #292F3D;
    border: 2px #ffffff solid;
    margin-left: 170px;
    width: 60px;
    height: 40px;
}

.language-switcher:hover .content__switcher {
    display: block;
}

.flag__switcher {
    width: 20px;
}


.first-header-menu__link_gold-and-margin {
    margin-left: 20px;
    color: #fce90a;
}

.arrow {
    margin-top: 4.5px;
}

.header-main {
    width: 100%;
}


.main-title {
    width: 100%;
    height: 82px;
    background-color: #00366C;
    font-size: 3.1em;
    font-family: KyivType Titling, serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 14px;
}

.second-header-menu-container {
    width: 100%;
    height: 51px;
    background-color: #e4e4e4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.second-header-menu {
    font-size: 1em;
    color: #292f3d;
    text-transform: uppercase;
    padding-top: 17px;
    margin: 0 auto;
    width: 700px;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 1px;
}

.second-header-menu__link {
    color: #292f3d;
}

.header__blue-line {
    width: 100%;
    height: 30px;
    background-color: #224D7B;
}

.header-main {
    width: 100%;
}

.header-main__background-image {
    width: 1439px;
    max-width: 100%;
    position: absolute;
}

.logo__image {
    position: absolute;
    margin-top: -215px;
    margin-left: 40px;
}

.button {
    width: 148px;
    height: 38px;
    background-color: #fce700;
    color: #292f3d;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 3px;
}

.header-main__button {
    position: relative;
    top: 200px;
    left: 100px;
}

.header-main__title {
    width: 600px;
    font-size: 4em;
    font-family: KyivType Titling, serif;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    top: 280px;
    left: 100px;
}

.header__blue-line-down {
    width: 1438px;
    height: 50px;
    background-color: #224D7B;
    margin-top: 390px;
}




.rules-of-application-and-right-menu {
    width: 100%;
    /*margin-top: 380px;*/
}

.rules-of-application-and-right-menu h2 {
    color: #224D7B;
    font-family: KyivType Titling, serif;
    font-size: 3.3em;
    text-transform: uppercase;
    margin-left: 22%;
    padding-top: 100px;
    padding-bottom: 40px;
}

.rules-of-application {
    width: 748px;
    margin-left: 60px;
}

.rules-of-application p {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
    font-family: "Roboto Condensed", sans-serif;
}

.rules-of-application h4 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

.rules-of-application span {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 8px;
    line-height: 40px;
}

.rules-of-application span:hover {
    color: #224D7B;
}

.rules-of-application hr {
    height: 0.1em;
    background-color: black;
    margin: 33px 220px;
}

.advertisement__inner {
    width: 100%;
    height: 300px;
    border: 1px #00366c solid;
    color: #292F3D;
    border-radius: 5px;
    text-align: center;
    padding-top: 35px;
    text-transform: uppercase;
    line-height: 30px;
}

.advertisement__inner img {
    width: 27px;
    padding-top: 12px;
    padding-left: 10px;
}


fade {
    margin-top: 200px;
    display: block;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
    100%);
}

.aside {
    text-align: left;
    background: #E5E5E5;
    width: 490px;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 1px;
    margin-left: 100px;
    padding-top: 90px;
    /*padding-left: 60px;*/
}

.aside-menu {
    height: 200px;
    color: #292F3D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 25px;
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 150px;
}

.aside-menu a:link {
    color: #292f3d;
}

.aside-menu a {
    padding-bottom: 15px;
    margin-left: 100px;
}

.bells-timetable {
    margin-left: 100px;
}

.bells-timetable h3 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.bells-timetable span {
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bells-timetable hr {
    border-top: thin solid #000000;
    margin-right: 140px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.bells-timetable img {
    float: right;
    margin-right: 140px;
    margin-top: 5px;
    width: 10px;
}

.books_and_requirements {
    margin-top: 70px;
    width: 800px;
}

.books_and_requirements img {
    width: 180px;
    margin-left: 25px;
}

.books_and_requirements h3 {
    margin-top: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #224D7B;
    text-transform: uppercase;
}

.e-books {
    margin-left: 100px;
    float: left;
    width: 300px;
}

.requirements {
    margin-left: 100px;
    float: right;
    width: 300px;
}

.zno {
    margin-top: 100px;
}

.zno__inner {
    width: 100%;
    height: 650px;
    background-color: #224D7B;
    margin-top: 30px;
}

.dpa h3 {
    position: absolute;
    color: #224D7B;
    font-size: 2.3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 630px;
    margin-left: 500px;
}

.dpa__img {
    position: absolute;
    margin-top: 200px;
    margin-left: 100px;
}

.dpa__img__right {
    float: right;
    width: 430px;
    font-size: 1.8em;
    margin-left: 50px;
    margin-top: 150px;
}

.dpa__img__right p {
    font-family: "Roboto Condensed", sans-serif;
    color: #224D7B;
    margin-bottom: 30px;
    line-height: 30px;
}

.dpa__img__right a {
    font-family: "Roboto Condensed", sans-serif;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 35px;
}

.dpa__girl__img {
    width: 500px;
}

.dpa__sign {
    width: 20px;
    margin-top: 5px;
    margin-left: 7px;
}

.dpa__right {
    padding-top: 70px;
    float: right;
    width: 1200px;
    height: 700px;
    background-color: #E5E5E5;
}

.dpa__examples {
    background-color: #224D7B;
    width: 100%;
    height: 500px;
    margin-top: 700px;
}

.dpa__examples img {
    width: 33.1%;
    clear: right;
}

.useful-links {
    width: 100%;
    height: 700px;
    margin-top: 70px;
}

.useful-links__inner {
    font-family: KyivType Titling, serif;
    width: 100%;
    height: 806px;
    margin-top: 50px;
}

.useful-links__links {
    width: 990px;
    height: 400px;
    margin: 0 auto 0 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 1px;
    color: #224D7B;
    text-transform: uppercase;
}

.useful-links__link {
    color: #224D7B;
    font-weight: 700;
}









.footer {
    width: 100%;
    height: 552px;
    background-color: #292f3d;
    padding-bottom: 70px;
    padding-top: 70px;
    font-size: 0.9em;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 105px;
}

.footer__inner {
    margin: 0 auto;
    width: 633px;
}

.footer__first-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-transform: none;
}

.footer__adress {
    text-transform: uppercase;
    width: 160px;
    margin-bottom: 15px;
}

.footer__numbers {
    text-transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 136px;
}

.footer__first-span {
    text-transform: none;
    line-height: 24px;
}

.footer__second-span {
    line-height: 24px;
    margin-top: 44px;
    width: 100px;
}

.footer__button {
    margin-top: 25px;
}

.footer__link {
    color: #fff;
}

.footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 27px;
    font-size: 1em;
    margin-left: 90px;
}

.footer__third-span {
    text-transform: none;
    margin-top: 63px;
}

.button_without-bc {
    border: 1px #fde502 solid;
    color: #fde502;
    margin-top: 25px;
    background-color: #292f3d;
}

.footer__fourth-span {
    position: relative;
    top: 300px;
    left: 500px;
    height: 100px;
    text-transform: none;
}

.footer__fourth-span img {
    margin-left: 80px;
    padding-bottom: 20px;
    width: 50px;
}
