@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
/* Шрифт - KyivType Titling     Вид - Bold3     У мене показує що не підключено, але підключено)))*/
/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

b {
    font-weight: normal;
}

/*--------------------*/
/*Миксины*/
/*--------------------*/
/*Шаблоны*/
.title {
    font-size: 2.9em;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: #224d7b;
}

.rules-of-application-and-right-menu, .useful-posts__and__image, .second-header-menu, .first-header-menu__first-row, .first-header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/*--------------------*/
body {
    background: #e4e4e4;
}

.wrapper {
    width: 100%;
    max-width: 1438px;
    margin: 0 auto;
    background-color: #fff;
}

.header {
    width: 100%;
}

.first-header-menu-container {
    width: 100%;
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #292F3D;
    padding-top: 26px;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
}

.first-header-menu {
    width: 1262px;
    margin: 0 auto;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 1px;
}

.first-header-menu__first-row {
    width: 200px;
    letter-spacing: 1px;
}

.first-header-menu__entry-campaign {
    color: #FDE700;
}

.first-header-menu__first-image {
    width: 18px;
    height: 18px;
    margin-right: 20px;
}

.first-header-menu__second-image {
    width: 18px;
    height: 18px;
}

.first-header-menu__link {
    color: #fff;
}

.for-parents__link {
    color: #FCE700;
}

.first-header-menu__link_margin {
    margin-right: 10px;
}

.change-lang__form {

    margin-left: 20px;
    margin-right: 30px;
}


.first-header-menu__link_gold-and-margin {
    margin-left: 20px;
    color: #fce90a;
}

.arrow {
    margin-top: 4.5px;
}

.header-main {
    width: 100%;
}


.main-title {
    width: 100%;
    height: 82px;
    background-color: #00366C;
    font-size: 3.1em;
    font-family: KyivType Titling;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 14px;
}

.second-header-menu-container {
    width: 100%;
    height: 51px;
    background-color: #e4e4e4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.second-header-menu {
    font-size: 1em;
    color: #292f3d;
    text-transform: uppercase;
    padding-top: 17px;
    margin: 0 auto;
    width: 700px;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 1px;
}

.second-header-menu__link {
    color: #292f3d;
}

.header__blue-line {
    width: 100%;
    height: 30px;
    background-color: #224D7B;
}

.header-main {
    width: 100%;
}

.header-main__background-image {
    width: 1439px;
    max-width: 100%;
    transform: rotateY(180deg);
    position: absolute;
}

.logo__image {
    position: absolute;
    margin-top: -180px;
    margin-left: 40px;
}

.button {
    width: 148px;
    height: 38px;
    background-color: #fce700;
    color: #292f3d;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 3px;
}

.header-main__button {
    position: relative;
    top: 100px;
    left: 100px;
}

.header-main__title {
    width: 600px;
    font-size: 4em;
    font-family: KyivType Titling;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0.0001em 0.0001em 7px gray;
    position: relative;
    top: 280px;
    left: 100px;
}

.header__blue-line-down {
    width: 1439px;
    height: 50px;
    background-color: #224D7B;
    margin-top: 430px;
}









.rules-of-application-and-right-menu {
    width: 100%;
    /*margin-top: 380px;*/
}

.rules-of-application-and-right-menu h2 {
    color: #224D7B;
    font-family: KyivType Titling;
    font-size: 3.3em;
    margin-left: 20%;
    padding-top: 100px;
    padding-bottom: 40px;
}

.rules-of-application {
    width: 748px;
    margin-left: 60px;
}

.rules-of-application h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5em;
}

.rules-of-application hr {                                                     /* HOW??????????? */
    height: 0.1em;
    background-color: black;
    margin: 33px 280px;
}

.advertisement__inner {
    width: 100%;
    height: 200px;
    border: 1px #00366c solid;
    color: #292F3D;
    border-radius: 5px;
    text-align: center;
    padding-top: 35px;
    text-transform: uppercase;
    line-height: 30px;
}

.advertisement__inner img {
    width: 27px;
    padding-top: 5px;
    padding-left: 10px;
}

.aside {
    text-align: left;
    background: #E5E5E5;
    width: 490px;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 1px;
    margin-left: 100px;
    padding-top: 90px;
    /*padding-bottom: 30px;*/
    padding-left: 60px;
}

.aside-menu {
    color: #292F3D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 35px;
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 150px;
}

.aside-menu a:link {
    color: #292f3d;
}

.aside-menu a {
    padding-bottom: 15px;
}






.psychological-service-and-aside {
    width: 100%;
}

.psychological-service-and-aside h2 {
    text-align: center;
    color: #224D7B;
    font-family: KyivType Titling;
    font-size: 3.3em;
    margin-left: 130px;
    padding-bottom: 40px;
}

.psychological-service {
    width: 748px;
}

.psychological-service img {
    width: 100%;
    position: relative;
}

.psychology-aside {
    text-align: left;
    width: 490px;
    height: 280px;
    background: #E5E5E5 linear-gradient(to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 100%);
    font-family: "Roboto Condensed", sans-serif;
    color: #292f3d;
    letter-spacing: 1px;
    margin-left: 140px;
}

.psychology-aside img {
    width: 300px;
    margin-top: 125px;
    margin-left: 80px;
    position: absolute;
}

.blue-rectangle-under-picture {
    position: absolute;
    background-color: #224D7B;
    width: 746px;
    height: 150px;
    margin-top: 3px;
    padding-bottom: 640px;
}

.blue-rectangle-under-picture p {
    position: absolute;
    font-family: "Roboto Condensed", serif;
    color: #FDE801;
    font-size: 1.8em;
    margin-left: 90px;
}

.blue-rectangle__first-line {
    margin-top: 500px;
}

.blue-rectangle__second-line {
    margin-top: 530px;
}

.blue-rectangle__-line {
    margin-top: 560px;
}

.blue-rectangle__fourth-line {
    margin-top: 590px;
}

fade {
    display: block;

    width: 100%;
    height: 300px;

    background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
    100%);
}

.psychological-service-and-aside {
    display: -webkit-box;
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-webkit-box-orient: horizontal;*/
    /*-webkit-box-direction: normal;*/
    /*-ms-flex-direction: row;*/
    /*flex-direction: row;*/
    -webkit-box-pack: justify;
    /*-ms-flex-pack: justify;*/
    /*justify-content: space-between;*/
}

.school-psychologists {
    background-color: #DCDCDC;
    width: 100%;
    height: 1200px;
}

.school-psychologists img {
    float: left;
}

.employee-name {
    color: #224D7B;
    font-size: 2em;
    line-height: 1.5em;
    font-family: KyivType Titling;
    margin-bottom: 40px;
}

.employee__years {
    font-size: 1.5em;
    color: #224D7B;
}

.first-employee {
    position: absolute;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    width: 1250px;
    height: 390px;
    margin-top: 230px;
    margin-left: 100px;
    margin-right: 100px;
}

.first-employee img {
    width: 320px;
    margin-top: 30px;
    margin-left: 30px;
}

.first-employee__first-line-info {
    text-align: left;
    float: left;
    width: 310px;
    margin-left: 80px;
    margin-top: 50px;
}

.first-employee__first-line-info p {
    color: #292f3d;
    font-size: 1.35em;
    line-height: 25px;
    padding-bottom: 15px;
}

.first-employee__second-line-info {
    text-align: left;
    color: #292f3d;
    font-size: 1.35em;
    line-height: 25px;
    padding-bottom: 15px;
    margin-top: 100px;
    margin-left: 770px;
}

.first-employee__additional {
    margin-top: 25px;
}


.second-employee {
    position: absolute;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    width: 1250px;
    height: 390px;
    margin-top: 650px;
    margin-left: 100px;
    margin-right: 100px;
}

.second-employee img {
    width: 350px;
    height: 330px;
    margin-top: 30px;
    margin-left: 30px;
}

.second-employee__first-line-info {
    text-align: left;
    float: left;
    width: 330px;
    margin-left: 50px;
    margin-top: 50px;
}

.second-employee__first-line-info p {
    color: #292f3d;
    font-size: 1.35em;
    line-height: 25px;
    padding-bottom: 15px;
}

.second-employee__second-line-info {
    text-align: left;
    color: #292f3d;
    font-size: 1.35em;
    line-height: 25px;
    padding-bottom: 15px;
    margin-top: 100px;
    margin-left: 770px;
}

.second-employee__additional {
    margin-top: 25px;
}

.third-employee {
    position: absolute;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    width: 1250px;
    height: 390px;
    margin-top: 1070px;
    margin-left: 100px;
    margin-right: 100px;
}

.third-employee img {
    width: 320px;
    margin-top: 30px;
    margin-left: 30px;
}

.third-employee__first-line-info {
    text-align: left;
    float: left;
    width: 330px;
    margin-left: 80px;
    margin-top: 50px;
}

.third-employee__first-line-info p {
    color: #292f3d;
    font-size: 1.35em;
    line-height: 25px;
    padding-bottom: 15px;
}

.third-employee__second-line-info {
    text-align: left;
    color: #292f3d;
    font-size: 1.35em;
    line-height: 25px;
    padding-bottom: 15px;
    margin-top: 100px;
    margin-left: 770px;
}

.third-employee__additional {
    margin-top: 25px;
}


.useful-posts__and__image {
    width: 1400px;
}

.image-and-gray-block {
    width: 580px;
    height: 700px;
    background-color: #DCDCDC;
}

.image-and-gray-block img {
    width: 100%;
    margin-top: 500px;
}

.useful-posts {
    width: 100%;
    /*padding-top: 300px;*/
}

.useful-posts {
    text-align: left;
    background: white;
    font-family: "Roboto Condensed", sans-serif;
    color: #292f3d;
    letter-spacing: 1px;
    padding-top: 90px;
    width: 100%;
    height: 700px;
    float: right;
    line-height: 35px;
    font-size: 1.3em;
    text-transform: uppercase;

    margin-top: 320px;
}

.useful-posts h2 {
    color: #224D7B;
    font-family: KyivType Titling;
    font-size: 2em;
    margin-left: 100px;
    padding-bottom: 50px;
}

.useful-posts img {
    width: 25px;
    padding-top: 12px;
    padding-left: 10px;
}

.useful-posts a {
    font-weight: bold;
    color: #224D7B;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 40px;
    margin-left: 100px;
}


.monitoring {
    text-align: center;
    margin-top: 150px;
}

.monitoring h2 {
    color: #224D7B;
    font-family: KyivType Titling;
    font-size: 2.9em;
    padding-bottom: 50px;
}

.monitoring p {
    text-align: left;
    color: #224D7B;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.3em;
    line-height: 30px;
    margin-left: 570px;
}

.parents-announcer {
    text-align: center;
    margin-top: 150px;
}

.parents-announcer h2 {
    color: #224D7B;
    font-family: KyivType Titling;
    font-size: 2.9em;
    padding-bottom: 50px;
}







.footer {
    width: 100%;
    height: 552px;
    background-color: #292f3d;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 0.9em;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 105px;
}

.footer__inner {
    margin: 0 auto;
    width: 633px;
}

.footer__first-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-transform: none;
}

.footer__adress {
    text-transform: uppercase;
    width: 160px;
    margin-bottom: 15px;
}

.footer__numbers {
    text-transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 136px;
}

.footer__first-span {
    text-transform: none;
    line-height: 24px;
}

.footer__second-span {
    line-height: 24px;
    margin-top: 44px;
    width: 100px;
}

.footer__button {
    margin-top: 25px;
}

.footer__link {
    color: #fff;
}

.footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 27px;
    font-size: 1em;
    margin-left: 90px;
}

.footer__third-span {
    text-transform: none;
    margin-top: 63px;
}

.button_without-bc {
    border: 1px #fde502 solid;
    color: #fde502;
    margin-top: 25px;
    background-color: #292f3d;
}

.footer__fourth-span {
    position: relative;
    top: 370px;
    left: 300px;
    text-transform: none;
}
