@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
body {
    margin: 0;
    padding: 0;
    background-color: #224D7B;
}

header {
    background-color: #00366C;
    font-family: KyivType Titling, serif;
    text-align: center;
    height: 70px;
    border-bottom: 1px solid white;
}

header h2 {
    color: #ffffff;
    padding-top: 20px;
    margin: 0;
}

header a:link {
    color: #ffffff;
    text-decoration: none;
}

.main-content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 17px;
    margin-top: 80px;
    padding: 0;
}

.main-content img {
    position: absolute;
    width: 300px;
    margin: 0;
    padding: 0;
}

.form-and-references {
    float: right;
    background-color: white;
    height: 460px;
    margin-top: 1px;
    padding-right: 100px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.form-and-references h1 {
    font-family: KyivType Titling, serif;
    font-size: 1.7em;
    color: #00366C;
    text-align: center;
    margin-top: 70px;
    margin-left: 300px;
}

.form-and-references p {
    font-family: "Roboto Condensed", sans-serif;
    line-height: 27px;
    font-size: 1.2em;
    text-align: center;
    margin-top: 50px;
    margin-left: 310px;
    width: 250px;
}
