@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

title {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

b {
  font-weight: normal;
}

/*--------------------*/
/*Миксины*/
/*--------------------*/
/*Шаблоны*/
.title {
  font-size: 2.9em;
  text-align: center;
  width: 100%;
  font-family: KyivType Titling, serif;
  text-transform: uppercase;
  color: #224d7b;
}

.useful-links__images, .education-programs, .articles__row, .schedule__inner, .announcement-and-schedule-and-last-news-container, .second-header-menu, .first-header-menu__first-row, .first-header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*--------------------*/
body {
  background: #e4e4e4;
}

.wrapper {
  width: 100%;
  max-width: 1438px;
  margin: 0 auto;
  background-color: #fff;
}

.header {
  width: 100%;
}

.first-header-menu-container {
  width: 100%;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #292F3D;
  padding-top: 26px;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
}

.first-header-menu {
  width: 1262px;
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
}

.first-header-menu__first-row {
  width: 200px;
  letter-spacing: 1px;
}

.first-header-menu__link_gold {
  color: #fce90a;
}

.first-header-menu__first-image {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}

.first-header-menu__second-image {
  width: 18px;
  height: 18px;
}

.first-header-menu__link {
  color: #fff;
}

.first-header-menu__link_margin {
  margin-right: 10px;
}

.language-switcher {
  margin-left: 20px;
}

.flag__switcher__top {
  width: 13px;
}

.content__switcher {
  display: none;
  position: absolute;
  background-color: #292F3D;
  border: 2px #ffffff solid;
  margin-left: 170px;
  width: 60px;
  height: 40px;
}

.language-switcher:hover .content__switcher {
  display: block;
}

.flag__switcher {
  width: 20px;
}


.first-header-menu__link_gold-and-margin {
  margin-left: 20px;
  color: #fce90a;
}

.arrow {
  margin-top: 4.5px;
}

.header-main {
  width: 100%;
}


.main-title {
  width: 100%;
  height: 82px;
  background-color: #00366C;
  font-size: 3.1em;
  font-family: KyivType Titling, serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 14px;
}

.second-header-menu-container {
  width: 100%;
  height: 51px;
  background-color: #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-header-menu {
  font-size: 1em;
  color: #292f3d;
  text-transform: uppercase;
  padding-top: 17px;
  margin: 0 auto;
  width: 700px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
}

.second-header-menu__link {
  color: #292f3d;
}

.header__blue-line {
  width: 100%;
  height: 30px;
  background-color: #224D7B;
}

.header-main {
  width: 100%;
}

.header-main__background-image {
  width: 1439px;
  max-width: 100%;
  position: absolute;
}

.logo__image {
  position: absolute;
  margin-top: -300px;
  margin-left: 40px;
}

.button {
  width: 148px;
  height: 38px;
  background-color: #fce700;
  color: #292f3d;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 3px;
}

.header-main__button {
  position: relative;
  top: 220px;
  left: 100px;
}

.header-main__title {
  width: 700px;
  font-size: 3.2em;
  font-family: KyivType Titling, serif;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  line-height: 1.5em;
  top: 280px;
  left: 100px;
}

.header__blue-line-down {
  width: 1438px;
  height: 50px;
  background-color: #224D7B;
  margin-top: 290px;
  margin-left: 1px;
}






.announcement-and-schedule-and-last-news-container {
  width: 100%;
}

.announcement {
  width: 748px;
  margin-top: 60px;
  margin-left: 100px;
}

.announcement__title {
  margin-bottom: 500px;
  font-size: 15em;
}

.announcement__inner {
  width: 100%;
  height: 380px;
  border: 1px #00366c solid;
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 1.5em;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 35px;
  margin-bottom: 80px;
}

.announcement__inner h5 {
  font-weight: bold;
}

.announcement__line {
  border-top: 1px solid #292F3D;
  margin: 20px 200px;
}

.announcement__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 23px auto 0;
}

.announcement__first-link {
  color: #292f3d;
}

.announcement__second-link {
  color: #224d7b;
}

fade {
  margin-top: 60px;
  display: block;
  width: 100%;
  height: 350px;
  background-image: linear-gradient(to bottom,
  rgba(255, 255, 255, 0),
  rgba(255, 255, 255, 1)
  100%);
}

.aside {
  text-align: left;
  background: #E5E5E5;
  width: 490px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  margin-left: 100px;
  padding-top: 90px;
  /*padding-left: 60px;*/
}

.aside-menu {
  height: 30px;
  color: #292F3D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 25px;
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 150px;
}

.aside-menu a:link {
  color: #292f3d;
}

.aside-menu a {
  padding-bottom: 15px;
  margin-left: 100px;
}

.bells-timetable {
  color: #292f3d;
  margin-left: 100px;
}

.bells-timetable h3 {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form__timetable {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bells-timetable hr {
  border-top: thin solid #000000;
  margin-right: 140px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.bells-timetable img {
  float: right;
  margin-right: 140px;
  margin-top: 5px;
  width: 10px;
}

.dropbtn {
  cursor: pointer;
}

#timetable_1, #timetable_2_4, #timetable_5_7_11, #timetable_8_10 {
  display: none;
  position: absolute;
  margin-top: 3px;
  margin-left: 90px;
  text-align: right;
  font-size: 1.1em;
  min-width: 160px;
  overflow: auto;
  line-height: 1.5em;
  z-index: 1;
}

.colored__number {
  color: #966054;
}

.last-news {
  width: 951.61px;
  color: #fff;
}

.last-news__container {
  width: 100%;
  height: 660px;
  background-color: #224d7b;
  font-size: 1.17em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 44px;
  padding-bottom: 44px;
  position: relative;
  top: 50px;
  z-index: 999;
}

.last-news__inner {
  width: 450px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.last-news__title {
  font-size: 1.4em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 100px;
  line-height: 38px;
}

.last-news__date {
  color: #fce700;
  margin-left: 149px;
  margin-top: 35px;
}

.last-news__line {
  width: 289px;
  height: 2px;
  background-color: #fce700;
  margin-top: 20px;
  display: block;
}

.last-news__first-paragraph {
  margin-top: 20px;
  margin-left: 100px;
}

.last-news__second-paragraph {
  margin-top: 20px;
  margin-left: 100px;
}

.last-news__image {
  margin-left: 30px;
}

.articles-container {
  width: 100%;
  height: 1508px;
  background-color: #e1e1e1;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 120px;
}

.articles__row {
  width: 1190px;
  margin: 0 auto;
}

.articles__first-row {
  margin-bottom: 64px;
}

.article {
  height: 588px;
  width: 360px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 25px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 25px 7px rgba(0, 0, 0, 0.1);
}

.article__image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.articles__inner {
  width: 330px;
  margin: 10px 15px;
  position: absolute;
}

.article__link {
  position: absolute;
  margin-top: 550px;
  margin-left: -340px;
}

.article__date {
  margin-top: 29px;
  color: rgba(34, 77, 123, 0.56);
}

.article__title {
  color: #224D7B;
  font-size: 1.23em;
  letter-spacing: 0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-transform: uppercase;
  line-height: 25px;
  margin-top: 56px;
}

.article__paragraph {
  line-height: 26px;
  font-size: 1.15em;
  margin-top: 18px;
  margin-bottom: 65px;
}

.article__link {
  font-size: 0.82em;
  text-transform: uppercase;
  color: rgba(34, 77, 123, 0.8);
}

.public-info {
  text-align: center;
  margin-top: 60px;
}

.public-info__inner {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 24px;
  margin-top: 50px;
}

.public-info__button_blue {
  background-color: #224d7b;
  color: #fff;
  margin-top: 20px;
}

.public-info__show-text {
  color: rgba(34, 77, 123, 0.8);
  margin: 20px auto 0;
}




.public-info__slider {
  width: 100%;
  height: 560px;
  background-color: #224d7b;
  padding-top: 65px;
}

.slider_arrow {
  width: 30px;
}

.second_slider_arrow {
  transform: rotateY(180deg);
}

.public-info__slides img {
  margin-top: 30px;
  margin-left: -300px;
  box-sizing: border-box;
  width: 460px;
}

.prev, .next {
  position: absolute;
  cursor: pointer;
  margin-top: 420px;
  padding: 10px 10px 50px;
}

.prev {
  margin-left: -20px;
}

.next {
  margin-left: 25px;
}





.public-info__title {
  text-transform: uppercase;
  font-size: 1.7em;
  color: #224d7b;
  line-height: 30px;
}

.public-info__title_margin {
  margin-left: 107px;
}

.public-info-documents {
  max-width: 100%;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.public-info-documents__inner {
  padding-top: 210px;
  width: 1125px;
  height: 745px;
  background-color: #dcdcdc;
  text-transform: uppercase;
  margin-left: 313px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  text-align: left;
}

.public-info-documents__image {
  width: 700px;
  position: absolute;
  margin-left: -200px;
  margin-top: -150px;
}

.public-info-documents__text {
  width: 392px;
  height: 369px;
  margin-left: 600px;
}

.public-info__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 350px;
  height: 200px;
  font-weight: 700;
  margin-top: 46px;
  line-height: 1.5em;
}

.public-info__links img {
  width: 10px;
  margin-left: 10px;
  margin-top: 3px;
}

.public-info__link_bold {
  font-weight: 700;
  color: #292f3d;
}

.educational-programs {
  background-color: #224D7B;
  width: 100%;
  height: 500px;
}

.educational-programs__image-gradient {
  float: left;
  width: 25%;
  height: 450px;
}


.educational-programs__image-gradient:hover:after {
  content:'';
  position: absolute;
  width: 358px; height: 450px;
  margin-left: -359px;
  opacity: 70%;
  background: -moz-linear-gradient(to bottom, #FDB600 70%, #FFFFFF 0%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDB600), color-stop(70%,#DCDCDC)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(to bottom, #FDB600 70%,#FFFFFF 70%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(to bottom, #FDB600 70%, #FFFFFF 70%); /* Opera 11.10+ */
  background: -ms-linear-gradient(to bottom, #FDB600 70%, #FFFFFF 70%); /* IE10+ */
  background: linear-gradient(top, #FDB600 70%, #ffffff 0%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FDB600', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.educational-programs img {
  width: 100%;
  height: 450px;
  clear: right;
}

.educational-programs__text {
  position: absolute;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 380px;
  font-size: 2em;
  margin-top: 30px;
  margin-left: -360px;
}

.useful-links {
  width: 100%;
  height: 876px;
  margin-top: 70px;
}

.useful-links__inner {
  width: 100%;
  height: 806px;
  background-color: #224d7b;
  padding-bottom: 97px;
  padding-top: 71px;
  margin-top: 50px;
}

.useful-links__links {
  width: 990px;
  height: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
}

.useful-links__link {
  color: #fff;
  font-weight: 700;
}

.useful-links__link:hover {
  color: #fde502;
}

.useful-links__images {
  width: 1170px;
  height: 196px;
  margin: 0 auto;
  margin-top: 40px;
}

.useful-links__first-image {
  width: 260px;
  height: 115px;
  margin-top: 80px;
}

.useful-links__second-image {
  width: 260px;
  height: 163px;
  margin-top: 32px;
}

.useful-links__third-image {
  width: 260px;
  height: 195px;
}

.useful-links__fourth-image {
  width: 260px;
  height: 120px;
  margin-top: 75px;
}

.contacts {
  margin-top: 100px;
}

.contacts__main__title {
  margin-bottom: 150px;
}

.contacts__map {
  position: absolute;
  margin-top: -100px;
  margin-left: 105px;
  width: 700px;
  height: 500px;
}

.contacts__background {
  background-color: #DCDCDC;
  width: 1126px;
  height: 515px;
  margin-left: 312px;
}

.contacts__white-triangle {
  width: 0;
  height: 0;
  border-top: 30px solid #ffffff;
  border-left: 1126px solid #ffffff;
  border-bottom: 100px solid transparent;
}

.contacts__inner {
  margin-left: 639px;
  padding-top: 200px;
  font-family: "Roboto Condensed", sans-serif;
  color: #224d7b;
}

.contacts__title {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
}

.contacts__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 34px;
  font-size: 1.4em;

}

.footer {
  width: 100%;
  height: 552px;
  background-color: #292f3d;
  padding-bottom: 70px;
  padding-top: 70px;
  font-size: 0.9em;
  line-height: 21px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 105px;
}

.footer__inner {
  margin: 0 auto;
  width: 633px;
}

.footer__first-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-transform: none;
}

.footer__adress {
  text-transform: uppercase;
  width: 160px;
  margin-bottom: 15px;
}

.footer__numbers {
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 136px;
}

.footer__first-span {
  text-transform: none;
  line-height: 24px;
}

.footer__second-span {
  line-height: 24px;
  margin-top: 44px;
  width: 100px;
}

.footer__button {
  margin-top: 25px;
}

.footer__link {
  color: #fff;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 27px;
  font-size: 1em;
  margin-left: 90px;
}

.footer__third-span {
  text-transform: none;
  margin-top: 63px;
}

.button_without-bc {
  border: 1px #fde502 solid;
  color: #fde502;
  margin-top: 25px;
  background-color: #292f3d;
}

.footer__fourth-span {
  position: relative;
  top: 300px;
  left: 500px;
  height: 100px;
  text-transform: none;
}

.footer__fourth-span img {
  margin-left: 80px;
  padding-bottom: 20px;
  width: 50px;
}


@media (max-width: 1200px) {
  .first-header-menu-container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .second-header-menu-container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .header-main__button {
    top: 40px;
  }

  .header-main__title {
    top: 220px;
  }

  .first-header-menu {
    font-size: 0.9em;
  }

  .second-header-menu {
    font-size: 0.9em;
  }

  .announcement__text {
    margin-left: 0;
  }

  .articles__row {
    width: 960px;
  }

  .article {
    width: 300px;
  }

  .article__image {
    width: 300px;
  }

  .articles__inner {
    font-size: 0.9em;
    width: 280px;
  }

  .public-info-documents__text {
    margin-left: 260px;
  }

  .education-programs__1-2 {
    width: 300px;
    height: 400px;
  }

  .useful-links__images {
    width: 960px;
  }

  .useful-links__first-image {
    width: 210px;
    height: 90px;
  }

  .useful-links__second-image {
    width: 210px;
    height: 140px;
  }

  .useful-links__third-image {
    width: 210px;
    height: 165px;
  }

  .useful-links__fourth-image {
    width: 210px;
    height: 90px;
  }

  .footer__fourth-span {
    left: 100px;
  }
}
@media (max-width: 992px) {
  .first-header-menu {
    font-size: 0.8em;
  }

  .header__blue-line {
    height: 20px;
  }

  .main-title {
    font-size: 2.7em;
    height: 70px;
  }

  .header-main__button {
    top: 30px;
  }

  .header-main__title {
    font-size: 2.3em;
    width: 470px;
    top: 160px;
  }
}
@media (max-width: 768px) {
  .first-header-menu-container {
    height: 50px;
    padding-top: 20px;
  }

  .first-header-menu {
    font-size: 0.63em;
  }

  .first-header-menu__first-row {
    width: 150px;
  }

  .first-header-menu__number {
    margin-right: 20px;
  }

  .first-header-menu__first-image {
    display: none;
  }

  .first-header-menu__link_gold-and-margin {
    margin-left: 10px;
  }

  .main-title {
    height: 60px;
    font-size: 2.3em;
  }

  .second-header-menu-container {
    height: 40px;
  }

  .second-header-menu {
    font-size: 0.63em;
    width: 550px;
  }

  .header-main__title {
    width: 400px;
    font-size: 2em;
    top: 130px;
  }

  .header-main__button {
    width: 120px;
    height: 30px;
    background-color: #fce700;
    color: #292f3d;
    text-transform: uppercase;
    position: relative;
    font-size: 0.65em;
    top: 10px;
  }
}
@media (max-width: 575px) {
  .first-header-menu-container {
    padding-top: 15px;
    height: 40px;
  }

  .first-header-menu {
    font-size: 0.6em;
    letter-spacing: 0;
  }

  .first-header-menu__first-row {
    display: none;
  }

  .first-header-menu__first-image {
    display: none;
  }

  .first-header-menu__second-image {
    display: none;
  }

  .main-title {
    height: 50px;
    font-size: 1.6em;
  }

  .second-header-menu-container {
    height: 35px;
    padding-top: 0;
  }

  .second-header-menu {
    font-size: 0.6em;
    width: 450px;
    letter-spacing: 0;
  }

  .header-main__button {
    width: 100px;
    height: 25px;
    background-color: #fce700;
    color: #292f3d;
    text-transform: uppercase;
    position: relative;
    font-size: 0.65em;
    left: 50px;
    top: -10px;
  }

  .header-main__title {
    font-size: 1.5em;
    width: 300px;
    left: 50px;
    top: 60px;
  }

  .footer {
    font-size: 0.6em;
  }
}
